/* #root {
  margin: 0 auto;
  text-align: center;
} */

/* .transaction_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.desktop_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


.list_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.possui{
  margin-left: 1rem;
}




@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@media(min-width: 769px){

.desktop_container{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.resume{
  display: flex;
  margin-left: 1rem;
  margin-top: -1px;
}

.list_container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.possui{
  margin-left: 1rem;
}

}
